* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cera Pro;
}
body {
    /* background: #dfe7e9; */
    font-family: 'Roboto', sans-serif;
    /* background-size: cover; */
    background: url(/Group\ 51.png) no-repeat;
    background-position: center;
	}